@page "/AddSecretary"
@inherits AddSecretaryComponentBase

@if(ErrorMessage != null){
    <ErrorRoutingMessage Message=@ErrorMessage></ErrorRoutingMessage>
}
@if(SuccessMessage != null){
    <CorrectRoutingMessage  ></CorrectRoutingMessage>
}

<div class="d-flex justify-content-center">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Email Secretary</span>
        </div>
        <input type="email" @bind="Email" placeholder="Exemple@Exemple.com" class="form-control">
        <button @onclick="()=>AddSecretary()"  class="btn btn-success">Add
            @if (ButtonAddIsLoding == true)
            {


                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
            }
        </button>
    </div>
</div>



<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <p class="text-center">list Secretary with status Active</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Sexe</th>
            <th scope="col">Date Of Birth</th>
           
            <th scope="col">Delete</th>
            <th scope="col">Block</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in secritaryDtosActive)
            {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.NumberPhone</td>
                <td>@item.sexe</td>
                <td>@item.DateOfBirth</td>
                <td><button @onclick="()=> OnDelete(item.IdSecritary)" class="btn btn-danger">Delete
                     @if (IndexOne == item.IdSecritary)
            {


                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
            }
                </button></td>
                    <td><button @onclick="()=> OnBlock(item.IdSecritary)" class="btn btn-warning">Block
                            @if (IndexTwo == item.IdSecritary)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                    </button></td>
            </tr>
       }
        
      
    </tbody>
</table>
    @if (isLoding == true)
    {
        <WaitComponent></WaitComponent>
    }
</div>
<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <p class="text-center">list Secretary with status Block</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Sexe</th>
            <th scope="col">Date Of Birth</th>

            <th scope="col">Back</th>
        
        </tr>
    </thead>
    <tbody>
            @foreach (var item in secritaryDtosBlocked)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.NumberPhone</td>
                <td>@item.sexe</td>
                <td>@item.DateOfBirth</td>
                <td><button @onclick="()=>OnBack(item.IdSecritary)" class="btn btn-primary">Back
                            @if (IndexThree == item.IdSecritary)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only">Loading...</span>
                            }
                </button></td>
              
            </tr>
        }


    </tbody>
</table>
    @if (isLoding == true)
{
    <WaitComponent></WaitComponent>
}
</div>