@page "/SecretaryCabinetInformation"
@inherits ListOfAppoimentMedicalSecretaryComponentBase
@if(ErrorMessage !=null){
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>

}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Cabinet Name</th>
            <th scope="col">Adress</th>
            <th scope="col">NumberPhone</th>
            <th scope="col">List Docotor</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in secretaryCabinetInformationDtos){
            <tr>
                <td>@item.CabinetInformation.Name</td>
                <td>@item.CabinetInformation.Adress</td>
                <td>@item.CabinetInformation.NumberPhone</td>
                <td><button @onclick="()=>ShowListDoctor(item.CabinetInformation.Id)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button></td>
            </tr>
        }
       
        
       
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <ol class="list-group list-group-numbered">
                @foreach(var Item in ListDoctorInformation){
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">@Item.FirstName @Item.LastName</div>
                                job time : @Item.TimeReady.TimeOfDay to @Item.TimeEnd.TimeOfDay
                            </div>
                            <button class="btn btn-primary rounded-pill">Show List Reservation</button>
                        </li>    
                }
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
        </div>
    </div>
</div>